body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

#movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.movie-card {
    width: 200px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.movie-poster {
    max-width: 100%;
    height: auto;
}
