body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
background-image: url("img/pngtree-dark-green-cyan-paper-cut-minimalist-background-for-brochure-poster-banner-image_405384.jpg")
}

#auth-container {
    text-align: center;
opacity: 0px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    width: 200px;
}

input:: placeholder {
    color:black
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}
